<div class="container">
  <div>
    <h1>FANTA MSI</h1>
  </div>

  <div>
    <h2>Crediti disponibili {{calculateCredit()}}</h2>
  </div>

  <div class="pool">
    <div>
      <label id="example-radio-group-label">Scegli il Toplaner</label>
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="comp.top">
        <mat-radio-button class="example-radio-button" *ngFor="let topOption of playerPoolTop" [value]="topOption">
          {{topOption.player}} - {{topOption.team}} - {{topOption.value}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div>
      <label id="example-radio-group-label">Scegli il Jungler</label>
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
        [(ngModel)]="comp.jungle">
        <mat-radio-button class="example-radio-button" *ngFor="let jngOption of playerPoolJng" [value]="jngOption">
          {{jngOption.player}} - {{jngOption.team}} - {{jngOption.value}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div>
      <label id="example-radio-group-label">Scegli il Midlaner</label>
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="comp.mid">
        <mat-radio-button class="example-radio-button" *ngFor="let midOption of playerPoolMid" [value]="midOption">
          {{midOption.player}} - {{midOption.team}} - {{midOption.value}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div>
      <label id="example-radio-group-label">Scegli l'Adc</label>
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="comp.adc">
        <mat-radio-button class="example-radio-button" *ngFor="let adcOption of playerPoolAdc" [value]="adcOption">
          {{adcOption.player}} - {{adcOption.team}} - {{adcOption.value}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div>
      <label id="example-radio-group-label">Scegli il Support</label>
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="comp.supp">
        <mat-radio-button class="example-radio-button" *ngFor="let suppOption of playerPoolSupp" [value]="suppOption">
          {{suppOption.player}} - {{suppOption.team}} - {{suppOption.value}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div>
      <label id="example-radio-group-label">Scegli il Coach</label>
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="comp.coach">
        <mat-radio-button class="example-radio-button" *ngFor="let coachOption of playerPoolTop" [value]="coachOption">
          {{coachOption.player}} - {{coachOption.team}} - {{coachOption.value}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div>
    <span>La tua comp è: {{comp.top?.player}} - {{comp.jungle?.player}} - {{comp.mid?.player}} - {{comp.adc?.player}} -
      {{comp.supp?.player}} -
      {{comp.coach?.player}}</span>
    <button mat-raised-button color="primary" (click)="verifyComp()">Verifica</button>
  </div>


  <div>
    La tua comp è {{valdiComp ? 'VALIDA' : 'NON VALIDA - controlla il valore totale dei giocatori, di non aver un solo
    player per ruolo e di aver massimo 2 player per squadra '}}
  </div>
</div>